# Core App
streamlit==1.46.1

# PDF, Excel, Data
pdfplumber==0.11.0
pandas==2.3.0
openpyxl==3.1.2

# Text Analysis
textblob
spacy==3.7.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl

# Web Articles
newspaper3k
python-dateutil

# PDF Export
fpdf==1.7.2

# Google Sheets
gspread
gspread-formatting
oauth2client

# Word Docs
python-docx
docx2txt

# Fuzzy Matching
rapidfuzz==3.6.1

# HTML Sanitizing
lxml[html_clean]
