streamlit==1.46.1
pdfplumber==0.11.0
pandas==2.3.0
openpyxl==3.1.2
rapidfuzz==3.6.1

gspread
gspread-formatting
oauth2client

python-docx
docx2txt

spacy==3.7.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl

textblob
newspaper3k
lxml[html_clean]
fpdf==1.7.2
python-dateutil
