streamlit==1.27.2
pandas==2.2.2
openpyxl==3.1.2
pdfplumber==0.11.0
rapidfuzz==3.6.1
gspread
gspread-formatting
oauth2client
python-docx
docx2txt

# lighter NLP packages (optional)
textblob
vaderSentiment
